<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width"/>
        <title>Operadores</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>

        <div class="container">
            <h2>Adicionar Operador</h2>
            <form method="POST" th:object="${operador}" th:action="@{/operadores/adicionar(id=${operador.id})}" style="margin: 20px 0">
                <div class="form-group">
                    <label for="nomeCompleto">Nome Completo</label>
                    <input type="text" id="codigo" class="form-control" placeholder="Nome completo" th:field="*{nomeCompleto}"/>
                    <small class="form-text text-muted">Campo obrigatório</small>                
                </div>   
                <div class="form-group">    
                    <label for="nomeReduzido">Nome Reduzido</label>
                    <input type="text" id="descricao" class="form-control" placeholder="Nome reduzido" th:field="*{nomeReduzido}"/>
                    <small class="form-text text-muted">Campo obrigatório</small>                                
                </div>
                <div class="form-group">    
                    <label for="codigoRegistro">Codigo de Registro</label>
                    <input type="text" id="descricao" class="form-control" placeholder="Codigo registro" th:field="*{codigoRegistro}"/>
                    <small class="form-text text-muted">Campo obrigatório</small>                                
                </div>
                <div class="form-group">
                    <a class="btn btn-danger" th:href="@{/operadores}">Cancelar</a>
                    <button type="submit" class="btn btn-success">Adicionar</button> 
                </div>                     
            </form>           
        </div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
