<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width"/>
        <title>Titulo</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>        
        <div class="container-fluid">
            <div th:each="operador : ${operador}" class="container detalhesEvento">        
                <h2>Detalhar Operador</h2>
                <label for="id">Id</label>
                <p th:text="${operador.id}" id="id"></p>
                <label for="nomeCompleto">Nome Completo</label>
                <p th:text="${operador.nomeCompleto}" id="nomeCompleto"></p>
                <label for="nomeReduzido">Nome Reduzido</label>
                <p th:text="${operador.nomeReduzido}" id="nomeReduzido"></p>
                <label for="codigoRegistro">Codigo de Registro</label>
                <p th:text="${operador.codigoRegistro}" id="codigoRegistro"></p>
                <a class="btn btn-danger" th:href="@{/operadores}">Cancelar</a>
            </div>            
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
