<!DOCTYPE html>
<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="Layout :: head"></head>
    <body>
        <div class="wrapper">
            <nav th:replace="Layout :: menu"></nav>        
            <div id="content">
                <nav th:replace="Layout :: barra"></nav>
                <div class="content-page">   
                    <div class="container">
                        <h2>Adicionar Usuario</h2>
                        <form method="POST" th:object="${usuario}" th:action="@{/usuarios/adicionar(id=${usuario.id})}" style="margin: 20px 0">
                            <div class="form-group">
                                <label for="login">Login</label>
                                <input type="text" id="codigo" class="form-control" placeholder="Login" th:field="*{login}"/>
                                <small class="form-text text-muted">Campo obrigatório</small>                
                            </div>   
                            <div class="form-group">    
                                <label for="senha">Senha</label>
                                <input type="password" id="descricao" class="form-control" placeholder="Senha" th:field="*{senha}"/>
                                <small class="form-text text-muted">Campo obrigatório</small>                                
                            </div>                
                            <div class="form-group">    
                                <label for="email">E-mail</label>
                                <input type="email" id="descricao" class="form-control" placeholder="E-mail" th:field="*{email}"/>
                                <small class="form-text text-muted">Campo obrigatório</small>                                
                            </div>                
                            <div class="form-group">
                                <a class="btn btn-danger" th:href="@{/usuarios}">Cancelar</a>
                                <button type="submit" class="btn btn-success">Adicionar</button> 
                            </div>                     
                        </form>           
                    </div>
                </div> 
            </div>
        </div>    
        <script th:replace="Layout :: jquery"></script>
        <script th:replace="Layout :: popper"></script>
        <script th:replace="Layout :: bootstrap"></script>
        <script th:replace="Layout :: js"></script>
    </body>
</html>
