<!DOCTYPE html>
<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="Layout :: head"></head>
    <body>
        <div class="wrapper">
            <nav th:replace="Layout :: menu"></nav>        
            <div id="content">
                <nav th:replace="Layout :: barra"></nav>
                <div class="content-page">          
                    <div class="container-fluid">
                        <div th:each="usuario : ${usuario}" class="container detalhesEvento">        
                            <h2>Detalhar Usuario</h2>
                            <label for="id">Id</label>
                            <p th:text="${usuario.id}" id="id"></p>
                            <label for="login">Login</label>
                            <p th:text="${usuario.login}" id="login"></p>
                            <label for="email">E-mail</label>
                            <p th:text="${usuario.email}" id="email"></p>
                            <a class="btn btn-danger" th:href="@{/usuarios}">Cancelar</a>
                        </div>            
                    </div>
                </div> 
            </div>
        </div>    
        <script th:replace="Layout :: jquery"></script>
        <script th:replace="Layout :: popper"></script>
        <script th:replace="Layout :: bootstrap"></script>
        <script th:replace="Layout :: js"></script>
    </body>
</html>
