<!DOCTYPE html>
<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="Layout :: head"></head>
    <body>
        <div class="wrapper">
            <nav th:replace="Layout :: menu"></nav>        
            <div id="content">
                <nav th:replace="Layout :: barra"></nav>
                <div class="content-page">      
                    <div class="container-fluid">
                        <div th:each="grupoEquipamento : ${gruposEquipamentos}" class="container detalhesEvento">        
                            <h2>Detalhar Grupo de Equipamentos</h2>
                            <label for="id">Id</label>
                            <p th:text="${grupoEquipamento.id}" id="id"></p>               
                            <label for="descricao">Descrição</label>
                            <p th:text="${grupoEquipamento.descricao}" id="descricao"></p>
                            <a class="btn btn-danger" th:href="@{/grupos_equipamentos}">Cancelar</a>
                        </div>            
                    </div>
                </div> 
            </div>
        </div>    
        <script th:replace="Layout :: jquery"></script>
        <script th:replace="Layout :: popper"></script>
        <script th:replace="Layout :: bootstrap"></script>
        <script th:replace="Layout :: js"></script>
    </body>
</html>
