<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width"/>
        <title>Grupos de Equipamentos</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>

        <div class="container-fluid">
            <div th:each="grupoEquipamento : ${grupoEquipamento}" class="container detalhesEvento">
                <h2>Excluir Grupo de Equipamentos</h2>
                <label for="id">Id</label>
                <p th:text="${grupoEquipamento.id}" id="id"></p>                
                <label for="descricao">Descrição</label>
                <p th:text="${grupoEquipamento.descricao}" id="descricao"></p>
                <form class="form-inline" method="POST" th:action="@{/grupos_equipamentos/excluir(id=${grupoEquipamento.id})}" style="margin: 20px 0">
                    <div class="form-group">
                        <a class="btn btn-danger" th:href="@{/grupos_equipamentos}">Cancelar</a>
                        <button type="submit" class="btn btn-success">Excluir</button> 
                    </div> 
                </form>                  
            </div>
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
