<!DOCTYPE html>
<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="Layout :: head"></head>
    <body>
        <div class="wrapper">
            <nav th:replace="Layout :: menu"></nav>
            <div id="content">
                <nav th:replace="Layout :: barra"></nav>
                <div class="content-page">  
                    <div class="container">
                        <h2>Adicionar Boletim</h2>
                        <form method="GET" th:object="${boletim}" th:action="@{/boletim/apontamentos}" style="margin: 20px 0">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm">
                                        <label for="unidade">Unidade</label>
                                        <select name="unidadeid" class="form-control">
                                            <option value="">Selecione a Unidade</option>
                                            <option th:each="unidade : ${unidades}"
                                            th:value="${unidade.id}" 
                                            th:text="${unidade.nomeFantasia}"></option>
                                        </select>                                        
                                    </div>
                                    <div class="col-sm">
                                        <label for="safra">Safra</label>
                                        <select name="safraid" class="form-control">
                                            <option value="">Selecione a Safra</option>
                                            <option th:each="safra : ${safras}"
                                            th:value="${safra.id}" 
                                            th:text="${safra.descricao}"></option>
                                        </select>                                        
                                    </div>
                                    <div class="col-sm">
                                        <label for="data">Data</label>
                                        <input type="date" id="data" class="form-control" th:field="*{data}"/>                                        
                                    </div>                                    
                                </div>
                                <div class="form-group">    
                                    <label for="descricao">Observação</label>
                                    <input type="text" id="observacao" class="form-control" placeholder="Observação"  th:field="*{observacao}"/>                                                                  
                                </div> 
                                <div class="form-group">
                                    <a class="btn btn-danger" th:href="@{/boletins}">Cancelar</a>
                                    <button type="submit" class="btn btn-success float-right">Adicionar e realizar Apontamentos</button> 
                                </div> 
                            </div>
                        </form>           
                    </div>
                </div> 
            </div>
        </div>    
        <script th:replace="Layout :: jquery"></script>
        <script th:replace="Layout :: popper"></script>
        <script th:replace="Layout :: bootstrap"></script>
        <script th:replace="Layout :: js"></script>
    </body>
</html>
