<!DOCTYPE html>
<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="Layout :: head"></head>
    <body>
        <div class="wrapper">
            <nav th:replace="Layout :: menu"></nav>        
            <div id="content">
                <nav th:replace="Layout :: barra"></nav>
                <div class="content-page"> 
                    <div class="container-fluid">
                        <div th:each="boletim : ${boletim}" class="container detalhesEvento">        
                            <h2>Detalhar Boletim</h2>                            
                            <h3>
                                <span th:text="${boletim.id}" id="id"></span> -                          
                                <span th:text="${boletim.UnidadeProdutiva.nomeFantasia}" id="unidade"></span> -                
                                <span th:text="${boletim.Safra.descricao}" id="unidade"></span>                
                            </h3>
                            <hr>
                            <div class="panel-body"> 
                                <h4>Apontamentos</h4>
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Cultura</th>
                                            <th>Talhão</th>
                                            <th>Operação</th>
                                            <th><i class="fas fa-search"></i></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="apontamento : ${apontamentos}">
                                            <td th:text="${apontamento.id}"></td>
                                            <td th:text="${apontamento.Cultura.descricao}"></td>
                                            <td th:text="${apontamento.Talhao.descricao}"></td>
                                            <td th:text="${apontamento.OperacaoAgricola.descricao}"></td>
                                            <td><a th:href="@{/apontamentos/detalhar(id=${apontamento.id})}"><i class="fas fa-search"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>     
                            <form class="form-inline" method="POST" th:action="@{/boletins/excluir(id=${boletim.id})}" style="margin: 20px 0">
                                <div class="form-group">
                                    <a class="btn btn-danger" th:href="@{/boletins}">Cancelar</a>
                                    <button type="submit" class="btn btn-success float-right">Excluir Boletim</button> 
                                </div> 
                            </form> 
                            <a class="btn btn-success" th:href="@{/apontamentos/adicionar(id=${boletim.id})}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar Apontamento</a>
                        </div>            
                    </div>   
                    <script th:replace="Layout :: jquery"></script>
                    <script th:replace="Layout :: popper"></script>
                    <script th:replace="Layout :: bootstrap"></script>
                    <script th:replace="Layout :: js"></script>
                    </body>
                    </html>

