<!DOCTYPE html>
<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="Layout :: head"></head>
    <body>
        <div class="wrapper">
            <nav th:replace="Layout :: menu"></nav>        
            <div id="content">
                <nav th:replace="Layout :: barra"></nav>
                <div class="content-page"> 
                    <div class="container">  
                        <a class="btn btn-success" th:href="@{/boletins/adicionar}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar Boletim</a>
                        <div class="panel panel-default" style="margin: 10px">
                            <div class="panel-heading">
                                <h1  class="panel-title">
                                    Lista de Boletins
                                </h1>
                            </div>                
                            <div class="panel-body">                    
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Unidade</th>
                                            <th>Safra</th>
                                            <th>Data</th>
                                            <th><i class="fas fa-search"></i></th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="boletim : ${boletins}">
                                            <td th:text="${boletim.UnidadeProdutiva.nomeFantasia}"></td>
                                            <td th:text="${boletim.Safra.descricao}"></td>
                                            <td th:text="${#dates.format(boletim.data, 'dd/MM/yyyy')}"></td>
                                            <td><a th:href="@{/boletins/detalhar(id=${boletim.id})}"><i class="fas fa-search"></i></a></td>                                            
                                        </tr>
                                    </tbody>
                                </table>
                            </div> 
                        </div>
                    </div>    
                    <script th:replace="Layout :: jquery"></script>
                    <script th:replace="Layout :: popper"></script>
                    <script th:replace="Layout :: bootstrap"></script>
                    <script th:replace="Layout :: js"></script>
                    </body>
                    </html>

