<!DOCTYPE html>
<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="Layout :: head"></head>
    <body>
        <div class="wrapper">
            <nav th:replace="Layout :: menu"></nav>
            <div id="content">
                <nav th:replace="Layout :: barra"></nav>
                <div class="content-page">  
                    <div class="container">
                        <h2>Adicionar Apontamento</h2>
                        <form method="POST" th:object="${apontamento}" th:action="@{/apontamentos/adicionar(id=${apontamento.id})}" style="margin: 20px 0">
                            <input type="hidden" name="boletimid" th:value="${boletim.id}"/>
                            <div class="container">
                                <div class="row">
                                    <div class="col-md">
                                        <label for="boletim">Boletim</label>
                                        <h3>Número: <strong th:text="${boletim.id}">title</strong></h3>
                                    </div>
                                    <div class="col-md">
                                        <label for="cultura">Cultura</label>
                                        <select name="culturaid" class="form-control">
                                            <option value="">Selecione a Cultura</option>
                                            <option th:each="cultura : ${culturas}"
                                            th:value="${cultura.id}" 
                                            th:text="${cultura.descricao}"></option>
                                        </select> 
                                    </div>                                    
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md">
                                        <label for="talhao">Talhão</label>
                                        <select name="talhaoid" class="form-control">
                                            <option value="">Selecione o Talhão</option>
                                             <option th:each="talhao : ${talhoes}"
                                            th:value="${talhao.id}" 
                                            th:text="${talhao.descricao}"></option>
                                        </select> 
                                    </div>
                                    <div class="col-md">                                        
                                        <label for="hectares">Hectares</label>
                                        <input type="number" id="descricao" class="form-control" placeholder="0,00" th:field="*{hectaresTrabalhados}"/>
                                    </div>                                    
                                </div>
                                <hr>        
                                <div class="row">
                                    <div class="col-md">
                                        <label for="operacao">Operação Agrícola</label>
                                        <select name="operacaoid" class="form-control">
                                            <option value="">Selecione a Operação Agrícola</option>
                                            <option th:each="operacaoAgricola : ${operacoesAgricolas}"
                                            th:value="${operacaoAgricola.id}" 
                                            th:text="${operacaoAgricola.descricao}"></option>
                                        </select>
                                    </div>                                                                       
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md">
                                        <label for="equipamento">Equipamento</label>
                                        <select name="equipamentoid" class="form-control">
                                            <option value="">Selecione o Equipamento</option>
                                            <option th:each="equipamento : ${equipamentos}"
                                            th:value="${equipamento.id}" 
                                            th:text="${equipamento.descricao + ' ' + equipamento.marca + ' ' + equipamento.modelo}"></option>
                                        </select> 
                                    </div>
                                    <div class="col-md">
                                        <label for="operador">Operador</label>
                                        <select name="operadorid" class="form-control">
                                            <option value="">Selecione a Operador</option>
                                            <option th:each="operador : ${operadores}"
                                            th:value="${operador.id}" 
                                            th:text="${operador.nomeCompleto}"></option>
                                        </select> 
                                    </div>
                                                                        
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md">
                                        <label for="equipamentoapoio">Equipamento de Apoio</label>
                                        <select name="equipamentoapoioid" class="form-control">
                                            <option value="">Selecione o Equipamento</option>
                                            <option th:each="equipamento : ${equipamentos}"
                                            th:value="${equipamento.id}" 
                                            th:text="${equipamento.descricao + ' ' + equipamento.marca + ' ' + equipamento.modelo}"></option>
                                        </select> 
                                    </div>
                                    <div class="col-md">
                                        <label for="operadorapoio">Operador de Apoio</label>
                                        <select name="operadorapoioid" class="form-control">
                                            <option value="">Selecione a Operador</option>
                                            <option th:each="operador : ${operadores}"
                                            th:value="${operador.id}" 
                                            th:text="${operador.nomeCompleto}"></option>
                                        </select> 
                                    </div>                                    
                                </div>
                                <hr>
                                <div class="row">                                    
                                    <div class="col-md">                                        
                                        <label for="horamaquina">Horas/Maquina</label>
                                        <input type="number" id="horamaquina" class="form-control" placeholder="0,00" th:field="*{horasEquipamentos}"/>
                                    </div>                                         
                                    <div class="col-md">                                        
                                        <label for="horahomem">Horas/Homem</label>
                                        <input type="number" id="horahomem" class="form-control" placeholder="0,00" th:field="*{horasOperadores}"/>
                                    </div>                                    
                                </div>    
                                <hr>
                                <div class="row">
                                    <div class="col-md">
                                        <label for="produto">Produto</label>
                                        <select name="produtoid" class="form-control">
                                            <option value="">Selecione a produto</option>
                                            <option th:each="produto : ${produtos}"
                                            th:value="${produto.id}" 
                                            th:text="${produto.descricao}"></option>
                                        </select> 
                                    </div>
                                    <div class="col-md">
                                        <label for="quantidade">Quantidade Produto</label>
                                        <input type="number" id="quantidade" class="form-control" placeholder="0,00" th:field="*{quantidadeProduto}"/>
                                    </div>                                    
                                </div>    
                                <hr>
                                <div class="form-group">
                                    <a class="btn btn-danger" th:href="@{/boletins}">Finalizar</a>
                                    <a class="btn btn-primary" th:href="@{/boletins/detalhar(id=${boletim.id})}">Ver boletim</a>
                                    <button type="submit" class="btn btn-success">Adicionar</button> 
                                </div>
                            </div>                                              
                                                 
                        </form>           
                    </div>
                </div> 
            </div>
        </div>    
        <script th:replace="Layout :: jquery"></script>
        <script th:replace="Layout :: popper"></script>
        <script th:replace="Layout :: bootstrap"></script>
        <script th:replace="Layout :: js"></script>
    </body>
</html>
