<!DOCTYPE html>
<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="Layout :: head"></head>
    <body>
        <div class="wrapper">
            <nav th:replace="Layout :: menu"></nav>        
            <div id="content">
                <nav th:replace="Layout :: barra"></nav>
                <div class="content-page">       
                    <div class="container-fluid">            
                        <div th:each="atividadeAgricola : ${atividadeAgricola}" class="container detalhesEvento">    
                            <h2>Atualizar Atividade Agricola</h2>
                            <form method="POST" th:object="${atividadeAgricola}" th:action="@{/atividades_agricolas/atualizar(id=${atividadeAgricola.id})}" style="margin: 20px 0">
                                <div class="form-group">    
                                    <label for="descricao">Descrição</label>
                                    <input type="text" id="descricao" class="form-control" placeholder="Descricao" th:field="*{descricao}"/>
                                    <small class="form-text text-muted">Campo obrigatório</small>                                
                                </div>
                                <div class="form-group">
                                    <a class="btn btn-danger" th:href="@{/atividades_agricolas}">Cancelar</a>
                                    <button type="submit" class="btn btn-success">Atualizar</button> 
                                </div>
                            </form>  
                        </div>
                    </div>
                </div> 
            </div>
        </div>    
        <script th:replace="Layout :: jquery"></script>
        <script th:replace="Layout :: popper"></script>
        <script th:replace="Layout :: bootstrap"></script>
        <script th:replace="Layout :: js"></script>
    </body>
</html>
