<!DOCTYPE html>
<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="Layout :: head"></head>
    <body>
        <div class="wrapper">
            <nav th:replace="Layout :: menu"></nav>        
            <div id="content">
                <nav th:replace="Layout :: barra"></nav>
                <div class="content-page">     
                    <div class="container">
                        <h2>Atualizar produto:</h2>
                        <form method="POST" th:object="${produto}" th:action="@{/produtos/adicionar(id=${produto.id})}" style="margin: 20px 0">
                            <div class="form-group">    
                                <label for="descricao">Descrição</label>
                                <input type="text" id="descricao" class="form-control" placeholder="Descricao" th:field="*{descricao}"/>
                                <small class="form-text text-muted">Campo obrigatório</small>                                
                            </div>                
                            <div class="form-group">    
                                <label for="descricaoReduzida">Descrição Reduzida</label>
                                <input type="text" id="descricaoReduzida" class="form-control" placeholder="Descricao Reduzida" th:field="*{descricaoReduzida}"/>
                                <small class="form-text text-muted">Campo obrigatório</small>                                
                            </div>                
                             
                            <div class="form-group">
                                <label>Unidade de Medida</label>
                                <select name="unidademedidaid" class="form-control">
                                    <option value="">Selecione a unidade de medida</option>
                                    <option th:each="unidade_medida : ${unidades_medida}"
                                            th:value="${unidade_medida.id}" 
                                            th:text="${unidade_medida.descricao}"
                                            th:selected="${unidade_medida.id == produto.UnidadeMedida.id}"></option>
                                </select>
                                <small class="form-text text-muted">Campo obrigatório</small>                
                            </div>     
                            
                            <div class="form-group">
                                <label>Grupo</label>
                                <select name="grupoprodutoid" class="form-control">
                                    <option value="">Selecione o grupo</option>
                                    <option th:each="grupo_produto : ${grupos_produto}"
                                            th:value="${grupo_produto.id}" 
                                            th:text="${grupo_produto.descricao}"
                                            th:selected="${grupo_produto.id == produto.GrupoProduto.id}"></option>
                                </select>
                                <small class="form-text text-muted">Campo obrigatório</small>                
                            </div>     

                            <div class="form-group">
                                <a class="btn btn-danger" th:href="@{/produtos}">Cancelar</a>
                                <button type="submit" class="btn btn-success">Atualizar</button> 
                            </div>          
                        </form> 
                    </div>                                
                </div>
            </div> 
        </div>            
        <script th:replace="Layout :: jquery"></script>
        <script th:replace="Layout :: popper"></script>
        <script th:replace="Layout :: bootstrap"></script>
        <script th:replace="Layout :: js"></script>
    </body>
</html>
