<!DOCTYPE html>
<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="Layout :: head"></head>
    <body>
        <div class="wrapper">
            <nav th:replace="Layout :: menu"></nav>        
            <div id="content">
                <nav th:replace="Layout :: barra"></nav>
                <div class="content-page">       
                    <div class="container-fluid">
                        <div th:each="produto : ${produto}" class="container detalhesEvento">        
                            <h2>Excluir produto</h2>
                            <label for="id">Id</label>
                            <p th:text="${produto.id}" id="id"></p>
                            <label for="descricao">Descrição</label>
                            <p th:text="${produto.descricao}" id="descricao"></p>
                            <label for="descricaoReduzida">Descrição Reduzida</label>
                            <p th:text="${produto.descricaoReduzida}" id="descricaoReduzida"></p>
                            <label for="unidadeMedida">Unidade de Medida</label>
                            <p th:text="${produto.UnidadeMedida.descricao}" id="unidadeMedida"></p>
                            <label for="grupoProduto">Grupo</label>
                            <p th:text="${produto.GrupoProduto.descricao}" id="grupoProduto"></p>
                            <label for="dataCadastro">Data de Cadastro</label>
                            <p th:text="${#dates.format(produto.dataCadastro, 'dd/MM/yyyy')}" id="dataCadastro"></p>
                            <form class="form-inline" method="POST" th:action="@{/produtos/excluir(id=${produto.id})}" style="margin: 20px 0">
                                <div class="form-group">
                                    <a class="btn btn-danger" th:href="@{/produtos}">Cancelar</a>
                                    <button type="submit" class="btn btn-success">Excluir</button> 
                                </div> 
                            </form>  
                        </div>            
                    </div>
                </div> 
            </div>
        </div>    
        <script th:replace="Layout :: jquery"></script>
        <script th:replace="Layout :: popper"></script>
        <script th:replace="Layout :: bootstrap"></script>
        <script th:replace="Layout :: js"></script>
    </body>
</html>
