<!DOCTYPE html>
<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="Layout :: head"></head>
    <body>
        <div class="wrapper">
            <nav th:replace="Layout :: menu"></nav>        
            <div id="content">
                <nav th:replace="Layout :: barra"></nav>
                <div class="content-page"> 
                    <div class="container">  
                        <a class="btn btn-success" th:href="@{/culturas/adicionar}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar Cultura</a>
                        <div class="panel panel-default" style="margin: 10px">
                            <div class="panel-heading">
                                <h1  class="panel-title">
                                    Lista de Culturas
                                </h1>
                            </div>                
                            <div class="panel-body">                    
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Descrição</th>
                                            <th>Data de Cadastro</th>
                                            <th>Visualizar</th>
                                            <th>Editar</th>
                                            <th>Excluir</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="cultura : ${culturas}">
                                            <td th:text="${cultura.descricao}"></td>
                                            <td th:text="${#dates.format(cultura.dataCadastro, 'dd/MM/yyyy')}"></td>
                                            <td><a th:href="@{/culturas/detalhar(id=${cultura.id})}"><i class="fas fa-search"></i></a></td>
                                            <td><a th:href="@{/culturas/atualizar(id=${cultura.id})}"><i class="far fa-edit"></i></a></td>
                                            <td><a th:href="@{/culturas/excluir(id=${cultura.id})}"><i class="far fa-trash-alt"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div> 
                        </div>
                    </div>    
                    <script th:replace="Layout :: jquery"></script>
                    <script th:replace="Layout :: popper"></script>
                    <script th:replace="Layout :: bootstrap"></script>
                    <script th:replace="Layout :: js"></script>
                    </body>
                    </html>

