<!DOCTYPE html>
<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="Layout :: head"></head>
    <body>
        <div class="wrapper">
            <nav th:replace="Layout :: menu"></nav>        
        <div id="content">
            <nav th:replace="Layout :: barra"></nav>
            <div class="content-page"> 
        <div class="container">
            <h2>Adicionar Safra</h2>
            <form method="POST" th:object="${safra}" th:action="@{/safras/adicionar(id=${safra.id})}" style="margin: 20px 0">
                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <input type="text" id="descricao" class="form-control" placeholder="Descrição" th:field="*{descricao}"/>
                    <small class="form-text text-muted">Campo obrigatório</small>                
                </div>   
                <div class="form-group">    
                    <label for="dataInicio">Data de Inicio</label>
                    <input type="date" id="dataInicio" class="form-control" placeholder="Data de Inicio" th:field="*{dataInicio}"/>
                    <small class="form-text text-muted">Campo obrigatório</small>                                
                </div>
                <div class="form-group">    
                    <label for="dataTermino">Data de Termino</label>
                    <input type="date" id="dataTermino" class="form-control" placeholder="Data de Termino" th:field="*{dataTermino}"/>
                    <small class="form-text text-muted">Campo obrigatório</small>                                
                </div>
                <div class="form-group">
                    <a class="btn btn-danger" th:href="@{/safras}">Cancelar</a>
                    <button type="submit" class="btn btn-success">Adicionar</button> 
                </div>                     
            </form>           
        </div>
        </div> 
        </div>
        </div>    
        <script th:replace="Layout :: jquery"></script>
        <script th:replace="Layout :: popper"></script>
        <script th:replace="Layout :: bootstrap"></script>
        <script th:replace="Layout :: js"></script>
    </body>
</html>
