<!DOCTYPE html>
<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="Layout :: head"></head>
    <body>
        <div class="wrapper">
            <nav th:replace="Layout :: menu"></nav>        
            <div id="content">
                <nav th:replace="Layout :: barra"></nav>
                <div class="content-page">       
                    <div class="container-fluid">
                        <div th:each="safra : ${safra}" class="container detalhesEvento">        
                            <h2>Detalhar Safra</h2>
                            <label for="id">Id</label>
                            <p th:text="${safra.id}" id="id"></p>
                            <label for="descricao">Descrição</label>
                            <p th:text="${safra.descricao}" id="nomeCompleto"></p>
                            <label for="dataInicio">Data de Inicio</label>
                            <p th:text="${#dates.format(safra.dataInicio, 'dd/MM/yyyy')}" id="dataInicio"></p>
                            <label for="dataTermino">Data de Termino</label>
                            <p th:text="${#dates.format(safra.dataTermino, 'dd/MM/yyyy')}" id="dataTermino"></p>
                            <a class="btn btn-danger" th:href="@{/safras}">Cancelar</a>
                        </div>            
                    </div>
                </div> 
            </div>
        </div>    
        <script th:replace="Layout :: jquery"></script>
        <script th:replace="Layout :: popper"></script>
        <script th:replace="Layout :: bootstrap"></script>
        <script th:replace="Layout :: js"></script>
    </body>
</html>