<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width"/>
        <title>Talhões</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>        
        <div class="container-fluid">            
            <div th:each="talhao : ${talhao}" class="container detalhesEvento">    
                <h2>Atualizar Talhão</h2>
                <form method="POST" th:object="${talhao}" th:action="@{/talhoes/atualizar(id=${talhao.id})}" style="margin: 20px 0">
                    <div class="form-group">
                        <label for="descricao">Descrição</label>
                        <input type="text" id="descricao" class="form-control" placeholder="Descrição" th:field="*{descricao}"/>
                        <small class="form-text text-muted">Campo obrigatório</small>                
                    </div>   
                    <div class="form-group">    
                        <label for="areaTotal">Área Total</label>
                        <input type="number" step="any" id="areaTotal" class="form-control" placeholder="Área Total" th:field="*{areaTotal}"/>
                        <small class="form-text text-muted">Campo obrigatório</small>                                
                    </div>                
                    <div class="form-group">
                        <a class="btn btn-danger" th:href="@{/talhoes}">Cancelar</a>
                        <button type="submit" class="btn btn-success">Atualizar</button> 
                    </div>  
                </form>  
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
