<!DOCTYPE html>
<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="Layout :: head"></head>
    <body>
        <div class="wrapper">
            <nav th:replace="Layout :: menu"></nav>        
        <div id="content">
            <nav th:replace="Layout :: barra"></nav>
            <div class="content-page">                                    
                    
        <div class="container">  
            <a class="btn btn-success" th:href="@{/unidades_medida/adicionar}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar Unidades de Medida</a>
            <div class="panel panel-default" style="margin: 10px">
                <div class="panel-heading">
                    <h1  class="panel-title">
                        Lista de Unidades de Medida
                    </h1>
                </div>                
                <div class="panel-body">                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Codigo</th>
                                <th>Descrição</th>
                                <th>Visualizar</th>
                                <th>Editar</th>
                                <th>Excluir</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="unidade_medida : ${unidades_medida}">
                                <td th:text="${unidade_medida.codigo}"></td>
                                <td th:text="${unidade_medida.descricao}"></td>
                                <td><a th:href="@{/unidades_medida/detalhar(id=${unidade_medida.id})}"><i class="fas fa-search"></i></a></td>
                                <td><a th:href="@{/unidades_medida/atualizar(id=${unidade_medida.id})}"><i class="far fa-edit"></i></a></td>
                                <td><a th:href="@{/unidades_medida/excluir(id=${unidade_medida.id})}"><i class="far fa-trash-alt"></i></a></td>
                            </tr>
                        </tbody>
                    </table>                    
              </div> 
        </div>
        </div>    
        <script th:replace="Layout :: jquery"></script>
        <script th:replace="Layout :: popper"></script>
        <script th:replace="Layout :: bootstrap"></script>
        <script th:replace="Layout :: js"></script>
    </body>
</html>
