<!DOCTYPE html>
<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="Layout :: head"></head>
    <body>
        <div class="wrapper">
            <nav th:replace="Layout :: menu"></nav>        
            <div id="content">
                <nav th:replace="Layout :: barra"></nav>
                <div class="content-page">    
                    <div class="container">
                        <h2>Adicionar Equipamento:</h2>
                        <form method="POST" th:object="${equipamento}" th:action="@{/equipamentos/adicionar(id=${equipamento.id})}" style="margin: 20px 0">
                            <div class="form-group">    
                                <label for="descricao">Descrição</label>
                                <input type="text" id="descricao" class="form-control" placeholder="Descricao" th:field="*{descricao}"/>
                                <small class="form-text text-muted">Campo obrigatório</small>                                
                            </div>                
                            <div class="form-group">
                                <label for="marca">Marca</label>
                                <input type="text" id="marca" class="form-control" placeholder="Marca" th:field="*{marca}"/>
                                <small class="form-text text-muted">Campo obrigatório</small>                
                            </div>   
                            <div class="form-group">
                                <label for="modelo">Modelo</label>
                                <input type="text" id="modelo" class="form-control" placeholder="Modelo" th:field="*{modelo}"/>
                                <small class="form-text text-muted">Campo obrigatório</small>                
                            </div>   
                            <div class="form-group">
                                <label>Grupo</label>
                                <select name="grupo" class="form-control">
                                    <option value="">Selecione o Grupo</option>
                                    <option th:each="grupoEquipamento : ${gruposEquipamentos}"
                                            th:value="${grupoEquipamento.id}" 
                                            th:text="${grupoEquipamento.descricao}"></option>
                                </select>
                                <small class="form-text text-muted">Campo obrigatório</small>                
                            </div> 
                            <div class="form-group">
                                <a class="btn btn-danger" th:href="@{/equipamentos}">Cancelar</a>
                                <button type="submit" class="btn btn-success">Adicionar</button> 
                            </div> 
                        </form>           
                    </div>
                </div> 
            </div>
        </div>    
        <script th:replace="Layout :: jquery"></script>
        <script th:replace="Layout :: popper"></script>
        <script th:replace="Layout :: bootstrap"></script>
        <script th:replace="Layout :: js"></script>
    </body>
</html>