<!DOCTYPE html>
<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="Layout :: head"></head>
    <body>
        <div class="wrapper">
            <nav th:replace="Layout :: menu"></nav>        
            <div id="content">
                <nav th:replace="Layout :: barra"></nav>
                <div class="content-page">      
                    <div class="container-fluid">
                        <div th:each="equipamento : ${equipamento}" class="container detalhesEvento">        
                            <h2>Excluir equipamento</h2>
                            <label for="id">Id</label>
                            <p th:text="${equipamento.id}" id="id"></p>
                            <label for="descricao">Descrição</label>
                            <p th:text="${equipamento.descricao}" id="descricao"></p>
                            <label for="marca">Marca</label>
                            <p th:text="${equipamento.marca}" id="marca"></p>
                            <label for="modelo">Modelo</label>
                            <p th:text="${equipamento.modelo}" id="modelo"></p>
                            <label for="grupo">Estado</label>
                            <p th:text="${equipamento.grupoEquipamento.descricao}" id="grupo"></p>
                            <form class="form-inline" method="POST" th:action="@{/equipamentos/excluir(id=${equipamento.id})}" style="margin: 20px 0">
                                <div class="form-group">
                                    <a class="btn btn-danger" th:href="@{/equipamentos}">Cancelar</a>
                                    <button type="submit" class="btn btn-success">Excluir</button> 
                                </div> 
                            </form>  
                        </div>            
                    </div>
                </div> 
            </div>
        </div>    
        <script th:replace="Layout :: jquery"></script>
        <script th:replace="Layout :: popper"></script>
        <script th:replace="Layout :: bootstrap"></script>
        <script th:replace="Layout :: js"></script>
    </body>
</html>
