<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width"/>
        <title>Estados</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>        
        <div class="container-fluid">
            <div th:each="estado : ${estado}" class="container detalhesEvento">        
                <h2>Detalhar estado:</h2>
                <label for="id">Id</label>
                <p th:text="${estado.id}" id="id"></p>
                <label for="codigo">Código</label>
                <p th:text="${estado.codigo}" id="codigo"></p>
                <label for="descricao">Descrição</label>
                <p th:text="${estado.descricao}" id="descricao"></p>
                <a class="btn btn-danger" th:href="@{/estados}">Cancelar</a>
            </div>            
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
