<!DOCTYPE html>
<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="Layout :: cabecalho"></head>
    <body>
        <div class="wrapper">
            <nav th:replace="Layout :: menu"></nav>
            <div id="content">
                <nav th:replace="Layout :: barra"></nav>
                <div class="content-page"> 
                    <div class="container">  
                        <a class="btn btn-success" th:href="@{/estados/adicionar}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar Estado</a>
                        <div class="panel panel-default" style="margin: 10px">
                            <div class="panel-heading">
                                <h1  class="panel-title">
                                    Lista de Estados
                                </h1>
                            </div>                
                            <div class="panel-body">                    
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Codigo</th>
                                            <th>Descrição</th>
                                            <th><i class="fas fa-search"></i></th>
                                            <th><i class="far fa-edit"></i></th>
                                            <th><i class="far fa-trash-alt"></i></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="estado : ${estados}">
                                            <td th:text="${estado.codigo}"></td>
                                            <td th:text="${estado.descricao}"></td>
                                            <td><a th:href="@{/estados/detalhar(id=${estado.id})}"><i class="fas fa-search"></i></a></td>
                                            <td><a th:href="@{/estados/atualizar(id=${estado.id})}"><i class="far fa-edit"></i></a></td>
                                            <td><a th:href="@{/estados/excluir(id=${estado.id})}"><i class="far fa-trash-alt"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>        
                    </div>  
                </div> 
            </div>
        </div>    
        <script th:replace="Layout :: jquery"></script>
        <script th:replace="Layout :: popper"></script>
        <script th:replace="Layout :: bootstrap"></script>
        <script th:replace="Layout :: js"></script>
    </body>
</html>
