<!DOCTYPE html>
<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="Layout :: head"></head>
    <body>
        <div class="wrapper">
            <nav th:replace="Layout :: menu"></nav>        
            <div id="content">
                <nav th:replace="Layout :: barra"></nav>
                <div class="content-page">   
                    <div class="container">
                        <h2>Adicionar Unidade Produtiva:</h2>
                        <form method="POST" th:object="${unidadeProdutiva}" th:action="@{/unidades_produtivas/adicionar(id=${unidadeProdutiva.id})}" style="margin: 20px 0">
                            <div class="form-group">    
                                <label for="nomeFantasia">Nome Fantasia</label>
                                <input type="text" id="nomeFantasia" class="form-control" placeholder="Nome Fantasia" th:field="*{nomeFantasia}"/>
                                <small class="form-text text-muted">Campo obrigatório</small>                                
                            </div> 
                            <div class="form-group">    
                                <label for="razaoSocial">Razão Social</label>
                                <input type="text" id="razaoSocial" class="form-control" placeholder="Razão Social" th:field="*{razaoSocial}"/>
                                <small class="form-text text-muted">Campo obrigatório</small>                                
                            </div> 
                            <div class="form-group">    
                                <label for="cpfCnpj">CPF/CNPJ</label>
                                <input type="text" id="cpfCnpj" class="form-control" placeholder="CPF/CNPJ" th:field="*{cpfCnpj}"/>
                                <small class="form-text text-muted">Campo obrigatório</small>                                
                            </div> 
                            <div class="form-group">    
                                <label for="inscricaoEstadual">Inscrição Estadual</label>
                                <input type="text" id="inscricaoEstadual" class="form-control" placeholder="IE" th:field="*{inscricaoEstadual}"/>
                                <small class="form-text text-muted">Campo obrigatório</small>                                
                            </div> 
                            <div class="form-group">
                                <label>Municipio</label>
                                <select name="municipioId" class="form-control">
                                    <option value="">Selecione o municipio</option>
                                    <option th:each="municipio : ${municipios}"
                                            th:value="${municipio.id}" 
                                            th:text="${municipio.descricao}"></option>
                                </select>
                                <small class="form-text text-muted">Campo obrigatório</small>                
                            </div>     

                            <div class="form-group">
                                <a class="btn btn-danger" th:href="@{/unidades_produtivas}">Cancelar</a>
                                <button type="submit" class="btn btn-success">Adicionar</button> 
                            </div>          
                        </form>           
                    </div>
                </div> 
            </div>
        </div>    
        <script th:replace="Layout :: jquery"></script>
        <script th:replace="Layout :: popper"></script>
        <script th:replace="Layout :: bootstrap"></script>
        <script th:replace="Layout :: js"></script>
    </body>
</html>