<!DOCTYPE html>
<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="Layout :: head"></head>
    <body>
        <div class="wrapper">
            <nav th:replace="Layout :: menu"></nav>        
            <div id="content">
                <nav th:replace="Layout :: barra"></nav>
                <div class="content-page">       
                    <div class="container-fluid">
                        <div th:each="unidadeProdutiva : ${unidadeProdutiva}" class="container detalhesEvento">        
                            <h2>Excluir Unidade Produtiva</h2>
                            <label for="id">Id</label>
                            <p th:text="${unidadeProdutiva.id}" id="id"></p>
                            <label for="descricao">Nome Fantasia</label>
                            <p th:text="${unidadeProdutiva.nomeFantasia}" id="nomeFantasia"></p>   
                            <label for="razaoSocial">Razão Social</label>
                            <p th:text="${unidadeProdutiva.razaoSocial}" id="razaoSocial"></p>   
                            <label for="cpfCnpj">CPF/CNPJ</label>
                            <p th:text="${unidadeProdutiva.cpfCnpj}" id="cpfCnpj"></p>   
                            <label for="inscricaoEstadual">Inscrição Estadual</label>
                            <p th:text="${unidadeProdutiva.inscricaoEstadual}" id="inscricaoEstadual"></p>   

                            <label for="municipio">Municipio</label>
                            <p th:text="${unidadeProdutiva.Municipio.descricao}" id="municipio"></p>
                            <form class="form-inline" method="POST" th:action="@{/unidades_produtivas/excluir(id=${unidadeProdutiva.id})}" style="margin: 20px 0">
                                <div class="form-group">
                                    <a class="btn btn-danger" th:href="@{/unidades_produtivas}">Cancelar</a>
                                    <button type="submit" class="btn btn-success">Excluir</button> 
                                </div> 
                            </form>  
                        </div>            
                    </div>
                </div> 
            </div>
        </div>    
        <script th:replace="Layout :: jquery"></script>
        <script th:replace="Layout :: popper"></script>
        <script th:replace="Layout :: bootstrap"></script>
        <script th:replace="Layout :: js"></script>
    </body>
</html>
