<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns= "http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width"/>
        <title>Grupos de Produtos</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
        <div class="container">  
            <a class="btn btn-success" th:href="@{/grupos_produtos/adicionar}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar Grupo de Produto</a>
            <div class="panel panel-default" style="margin: 10px">
                <div class="panel-heading">
                    <h1  class="panel-title">
                        Lista de Grupos de Produtos
                    </h1>
                </div>                
                <div class="panel-body">                    
                    <table class="table">
                        <thead>
                            <tr>                                
                                <th>Descrição</th>
                                <th>Visualizar</th>
                                <th>Editar</th>
                                <th>Excluir</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="grupoProduto : ${gruposProdutos}">                                
                                <td th:text="${grupoProduto.descricao}"></td>
                                <td><a th:href="@{/grupos_produtos/detalhar(id=${grupoProduto.id})}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></td>
                                <td><a th:href="@{/grupos_produtos/atualizar(id=${grupoProduto.id})}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a></td>
                                <td><a th:href="@{/grupos_produtos/excluir(id=${grupoProduto.id})}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
                            </tr>
                        </tbody>

                    </table>

                    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
                    <script type="text/javascript" src="materialize/js/materialize.min.js"></script>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    </body>
</html>
